
.env

logs/*
!logs/.gitkeep

#IDE
/.idea
/.vscode

#WordPress
www/.htaccess
www/wp-config.php
www/advanced-cache.php
www/wp-cache-config.php
www/backup-db/
www/backups/
www/cache/
www/upgrade/
www/languages/
www/themes/twenty*
www/plugins/classic-editor
www/plugins/wordpress-seo
www/plugins/wp-fastest-cache
*.log

#Grafana
provisioning
data
config
plugins